@{
    ViewBag.Title = "Contact";
}
<html>
    <body>
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>

        <section class="contact">
            <header>
                <h3>Phone</h3>
            </header>
            <p>
                <span class="label">Eri Cell:</span>
                <span>555.555.5555</span>
            </p>
        </section>

        <section class="contact">
            <header>
                <h3>Email</h3>
            </header>
            <p>
                <span class="label">Eriand:</span>
                <span><a href="mailto:exaample@example.com">example@example.com</a></span>
            </p>
        </section>
    </body>
</html>